*{
    font-family: Inter;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1360px;
    height:92px ;
    margin: 0 auto;

}
.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20pxpx;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}
 .nav-btn button{
    color: white;
    background-color: #30B868;
 padding: 12px 16px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 600;
line-height: 19px;
   
}
.nav-btn button:hover{
    color: #30B868;
    background-color: white;
    cursor: pointer;
}
#banner{
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px;
}
#banner .banner-container .banner-first-btn button{
    color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border-radius: 25px;
}
#banner .banner-container h2{
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin: 0px;

}
#banner .banner-container span{
     color: #30B868;
}
 #banner .banner-container p{
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
 }
 #banner .banner-container .banner-last-btn{
    align-items: center;
 }
 #banner .banner-container .banner-last-btn button{
    height: 44px;
    border-radius: 5px;
    margin-left: 15px;
color: white;
padding: 10px 14px ;
background-color: rgba(0, 0, 128, 0);
border: 1px solid white;
align-items: center;
 }
 #note{
    text-align: center;
    height: 455px;
    margin: 120px;
 }
 .note-container h2{
    margin: 0px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 0px;
 }
 #note p{
    color:rgba(98, 115, 130, 1) ;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
 }
 .note-card{
    display: flex;
gap: 30px;
margin-top: 40px;
 }
 .note-card .card img{
    border: 10px solid  rgba(249, 85, 85, 1);
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
 }
 .note-card .card{
    width: 322px;
    height: 200px;
    padding-top: 50px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px ;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background-color: rgba(255, 255, 255, 1);
 }
 #brain{
    margin: 120px;
 }
 #brain .brain-container{
    display: flex;
    align-items: center;
    gap: 80px;

 }
 #brain .brain-container .brain-text{
  padding-top: 45px;
 }