*{
    font-family: Inter;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1360px;
    height:92px ;
    margin: 0 auto;

}
.nav-list
{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20pxpx;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}
 .nav-btn button{
    color: white;
    background-color: #30B868;
 padding: 12px 16px;
 border: none;
 border-radius: 5px;
 font-size: 16px;
 font-weight: 600;
line-height: 19px;
   
}
#banner{
    height: 674px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px;
}
#banner .banner-container .banner-first-btn button{
    color: #30B868;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    border-radius: 25px;
}
#banner .banner-container h2{
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin: 0px;

}
#banner .banner-container span{
     color: #30B868;
}
 #banner .banner-container p{
    color: white;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
 }
 #banner .banner-container .banner-last-btn{
    align-items: center;
 }
 #banner .banner-container .banner-last-btn button{
    height: 44px;
    border-radius: 5px;
    margin-left: 15px;
color: white;
padding: 10px 14px ;
background-color: rgba(0, 0, 128, 0);
border: 1px solid white;
align-items: center;
 }